<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Android Suite" parallel="false">

    <listeners>
        <listener class-name="Reportes.ScreenshotOnFailListener"/>
        <listener class-name="Reportes.VideoListener"/>
        <listener class-name="Reportes.ExtentListener"/>
    </listeners>

    <test name="Smoke">
        <classes>
            <class name="TestCases.LoginTests"/>
        </classes>
    </test>
</suite>
